<footer class="login-footer">
  <section class="login-footer-container">
    <a href="">Questions? Contact Us.</a>

    <section class="login-footer__links">
      <ul class="links-container">
        <li><a href="">FAQ</a></li>
        <li><a href="">Help Center</a></li>
        <li><a href="">Terms of User</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Cookie Preference</a></li>
        <li><a href="">Corporate Information</a></li>
      </ul>
    </section>

    <select
      name="language"
      id="language"
      title="select language"
      class="select-languages"
    >
      <option selected="" value="English">English</option>
      <option value="Filipino">Filipino</option>
    </select>
  </section>
</footer>
