<div class="mask">
  <div class="disclaimer-container">
    <h2 class="center">**Disclaimer: Clone Website for Portfolio Purposes**</h2>

    <p>
      This website is a demonstration project created solely for portfolio and
      educational purposes. It is a clone or reproduction of an existing website
      and is not intended for commercial use or distribution. The content,
      design, and functionality of this site are replicated to showcase the
      developer's skills in web development and design.
    </p>

    <p>
      1.Non-Commercial Use: This clone website is not intended for any form of
      commercial exploitation. It does not offer any products, services, or
      functionalities beyond its demonstration purpose.
    </p>

    <p>
      2.No Endorsement: The existence of this clone website does not imply any
      endorsement or affiliation with the original website or its owners. It is
      a simulated project created to showcase technical abilities and
      creativity.
    </p>

    <p>
      3.Educational Showcase: Visitors are encouraged to view this website as an
      educational resource and an example of the developer's capabilities. The
      technologies, coding practices, and design elements implemented in this
      clone are meant to be informative and illustrative.
    </p>

    <p>
      4.No Guarantee of Accuracy: While efforts have been made to replicate the
      original website as accurately as possible, there may be differences in
      content, features, or appearance. This clone is a representation, and
      there is no guarantee of complete accuracy compared to the original.
    </p>

    <p>
      5.Respect for Intellectual Property: All trademarks, logos, and other
      intellectual property featured on this clone website belong to their
      respective owners. This project is not intended to infringe upon any
      copyrights or trademarks.
    </p>

    <p>
      6.Limited Functionality: Certain features of the original website may not
      be fully implemented in this clone. The focus is on showcasing key
      elements rather than providing a fully functional replica.
    </p>

    <p>
      By accessing and using this clone website, you acknowledge and agree to
      the terms outlined in this disclaimer. If you have any questions or
      concerns, please contact the developer for clarification.
    </p>

    <button (click)="hideDisclaimer(false)" class="button disc-button">
      Close
    </button>
  </div>
</div>
