<footer class="footer xl-max-width">
  <a href="" class="footer__questions"><p>Questions? Contact Us.</p></a>
  <section class="footer__links-wrapper">
    <ul class="footer__links">
      <li>
        <a href=""><p>FAQ</p></a>
      </li>
      <li>
        <a href=""><p>Help Center</p></a>
      </li>
      <li>
        <a href=""><p>Account</p></a>
      </li>
      <li>
        <a href=""><p>Media Center</p></a>
      </li>
      <li>
        <a href=""><p>Investor Relations</p></a>
      </li>
      <li>
        <a href=""><p>Jobs</p></a>
      </li>
      <li>
        <a href=""><p>Redeem Gift Cards</p></a>
      </li>
      <li>
        <a href=""><p>Buy Gift Cards</p></a>
      </li>
      <li>
        <a href=""><p>Ways to Watch</p></a>
      </li>
      <li>
        <a href=""><p>Term of Use</p></a>
      </li>
      <li>
        <a href=""><p>Privacy</p></a>
      </li>
      <li>
        <a href=""><p>Cookie Preference</p></a>
      </li>
      <li>
        <a href=""><p>Corporate Information</p></a>
      </li>
      <li>
        <a href=""><p>Contact Us</p></a>
      </li>
      <li>
        <a href=""><p>Speed Test</p></a>
      </li>
      <li>
        <a href=""><p>Legal Notice</p></a>
      </li>
      <li>
        <a href=""><p>Only On Netflix</p></a>
      </li>
    </ul>
  </section>

  <select
    name="language"
    id="language"
    title="select language"
    class="select-languages footer-select"
  >
    <option selected="" value="English">English</option>
    <option value="Filipino">Filipino</option>
  </select>

  <p class="footer__region">Netflix Philippines</p>
</footer>
